@font-face {
  font-family: "figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

body {
  background-color: var(--yellow);
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: "figtree", sans-serif;
}

/* MAIN CONTAINER */

.card {
  width: 375px;
  height: 500px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid var(--black);
  box-shadow: 5px 5px 0 0;
}

.card-image img {
  width: 336px;
  height: 200px;
  margin-top: 20px;
  border-radius: 20px;
}

.card-details {
  padding-left: 20px;
  padding-top: 15px;
}
.card-details__learning {
  font-size: 14px;
  background-color: var(--yellow);
  display: inline;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 800;
}
.card-details__date {
  padding-top: 14px;
  font-size: 14px;
}

.card-details__title {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 800;
  &:hover {
    color: var(--yellow);
    cursor: pointer;
  }
}

.card-details__description {
  padding-top: 20px;
  font-size: 16px;
  color: var(--grey);
  line-height: 24px;
}

.profile {
  padding-top: 15px;
}

.profile img {
  height: 30px;
  padding-right: 10px;
  vertical-align: middle;
}

.profile h2 {
  font-size: 16px;
  font-weight: 800;
  vertical-align: middle;
}

@media (max-width: 400px) {
}
.card {
  width: 300px;
  height: 400px;
  border-radius: 16px;
  border: 1.6px solid var(--black);
  box-shadow: 4px 4px 0 0;
}

.card-image img {
  width: 268.8px;
  height: 160px;
  margin-top: 16px;
  border-radius: 16px;
}

.card-details {
  padding-left: 16px;
  padding-top: 12px;
}
.card-details__learning {
  font-size: 11.2px;
  padding: 4px 8px;
  border-radius: 3.2px;
}
.card-details__date {
  padding-top: 11.2px;
  font-size: 11.2px;
}

.card-details__title {
  padding-top: 16px;
  font-size: 17.6px;
}

.card-details__description {
  padding-top: 16px;
  font-size: 14px;
  line-height: 19.2px;
}

.profile {
  padding-top: 12px;
}

.profile img {
  height: 24px;
  padding-right: 8px;
}

.profile h2 {
  font-size: 14px;
}
